$active-color: #e5e5e5;
$disabled-bg: #2b3a48;

.button {
  background: $active-color;
  font-family: 'RobotoMono Regular', Arial, sans-serif;
  padding: 5px;
}

.disabled {
  background: $disabled-bg;
  color: #fff;
  opacity: 0.2;
}
