@font-face {
  font-family: 'Notable Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/notable/Notable-Regular.ttf') format('truetype');
}

//@font-face {
//  font-family: 'Lato 700';
//  font-style: normal;
//  font-weight: normal;
//  src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
//}
//
//@font-face {
//  font-family: 'Lato 900';
//  font-style: normal;
//  font-weight: normal;
//  src: url('./assets/fonts/Lato-Black.ttf') format('truetype');
//}
