@font-face {
  font-family: 'Notable Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/notable/Notable-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/robotoMono/RobotoMono-Regular.ttf') format('truetype');
}
